<div class="container">
  <div class="jumbotron">
    <h1>CoopOrg</h1>
    <h2>Cooperative Organization</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign up now</a>
    <a href="/session/new" class="btn btn-lg btn-primary">Sign in</a>
  </div>
</div>
